body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.layout{
  height: 100vh;
}

.btn_reg {
  float: right;
}

header {
  position: sticky;
  top: 0; 
  z-Index: 10;
  width: 100%;
}
Footer {
  text-align: center;
   position: fixed;
   bottom: 0;
   background: rgb(16, 18, 18);
   width: 100%; 
  }